main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    max-width: 150px;
    height: auto;
    border: #000;
    padding: 5px;
    box-shadow: #333;
}

h1 {
    color: #000;
}

p {
    padding: 0;
}

nav a {
    margin-right: 15px;
    padding: 0%;
    color: #000;
    display: block;
}

nav {
    background-color: #05f06e;
    padding: 10px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

