*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    max-width: 150px;
    height: auto;
    border: #000;
    padding: 5px;
    box-shadow: #be0404;
    float: right;
    margin: 0 0 1rem 1rem;
}

aside{
    width: 20em;
    text-align: center;
}

aside img{
    width: 200px;
    text-align: center;
}

aside h2{
    color: black;
}

h1 {
    color: white;
    border-bottom: 2px black;
}

p {
    padding: 0;
}

nav a {
    margin-right: 15px;
    padding: 0.5rem;
    color: white;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

aside {
    width: 20em;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

